label {
   border: 2px solid black;
   padding: 10px;
   background-color: #9292e5;
   font-size: 20px;
   font-family: Chilanka;
}
h2 {
   font-family: "DejaVu Serif";
   font-size: 28px;
   text-align: center;
}
input{
   border: 2px solid black;
   padding: 10px;
   background-color: pink;
   font-size: 20px;
   font-family: Chilanka;
   text-align: justify;
}
